body{
    background-color: #232323;
    margin: 0; 
    font-family: 'Nunito','Arial', sans-serif;
}

.square{
    width: 30%;
    background-color: green;
    padding-bottom: 30%;
    float:left;
    margin:1.66%;
    border-radius: 20px;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    
}

#squareContainer{
    max-width: 600px;
    margin: 20px auto; /* same as margin-top: 20px, margin-bottom: 20px, margin-left:auto, margin-right: auto;*/
    flex: block;
    
}


.side-panel{
    color: white;
    flex: block;
}

h1, h2{
    color: white; 
    margin: 0 auto;
    text-align: center;
    background: steelblue; 
    font-weight: normal;
    text-transform: uppercase;
    display: flex 
    flex-wrap: wrap;  
    justify-content: center;
    padding: 100px;
}
 


#message{
    display: inline-block; /*gives a starting block even when 'empty' of content*/
    width: 20%;
}

.stripe{
    background: white; 
    text-align: center;
    height: 30px; 
}


.selected{
   background-color: steelblue; 
    color: white; 
}

#pickedCol{
        font-size: 200%;
    }

button{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    text-transform: uppercase;
    height: 100%;
    font-family: inherit;
    font-weight: 800;
    color: steelblue;
    font-size: inherit;
}

button:hover{
    background-color: steelblue; 
    color: white; 
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;

}


